<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
	<meta name="description" content="L'autorité en matière d'attente dans les urgences du Québec" />
	<meta name="author" content="Louis-Olivier Bureau" />
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
</head>
<body>
	<div id ="wrapper">
		<%= render 'layouts/header' %>
		<div id="page" class="container">
			<div id="page-bg-top">
				<%= yield %>
			<div style="clear: both;">&nbsp;</div>	
		<%= render 'layouts/footer' %>
		</div>
	</div>
</body>
</html>
